/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 158 of /Users/hirata.motoi/project/BabyryServer/static/sass/image/upload.scss

Backtrace:
/Users/hirata.motoi/project/BabyryServer/static/sass/image/upload.scss:158
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:536:in `block'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/commands/update_project.rb:45:in `perform'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/bin/compass:44:in `call'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `load'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/bin/compass:23:in `<main>'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/hirata.motoi/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 158 of /Users/hirata.motoi/project/BabyryServer/static/sass/image/upload.scss"; }
