#image-upload {
  /* salvattore */
}
#image-upload .image {
  margin: 0 auto;
  max-width: 320px;
  padding: 10px;
}
#image-upload .image img {
  width: 100%;
  max-width: 320px;
}
#image-upload .item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
}
#image-upload .timeline[data-columns]::before {
  content: '2 .column.size-1of2';
}
#image-upload .column {
  float: left;
}
#image-upload .size-1of2 {
  width: 50%;
}
#image-upload [data-columns]::before {
  display: none;
}
#image-upload #add-image-icon {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
#image-upload .disabled-iframe {
  display: none;
}
#image-upload #image-post-form {
  display: none;
}
#image-upload .js-image-container {
  float: left;
}
#image-upload .inner-box {
  box-shadow: 3px 3px 3px gray;
  -webkit-box-shadow: 3px 3px 3px gray;
  -moz-box-shadow: 3px 3px 3px gray;
}
#image-upload .error {
  color: red;
  display: none;
  text-align: center;
}
#image-upload .modal-body {
  height: 230px;
  overflow: scroll;
}
#image-upload .relative-img {
  width: 44px;
}
#image-upload .relative-checked-mark span {
  display: none;
}
#image-upload .child-img {
  width: 44px;
}
#image-upload .child-checked-mark span {
  display: none;
}
#image-upload .checked span {
  display: block;
}
#image-upload .abbreviation p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
}
#image-upload #image-upload-footer {
  background-color: silver;
}
#image-upload #image-upload-modal-footer a {
  text-shadow: none;
}
#image-upload #image-upload-modal-footer-close {
  color: #38c;
}
#image-upload #image-upload-submit-button {
  background-color: #38c;
  color: white;
}
#image-upload #image-upload-child-modal-footer a {
  text-shadow: none;
}
#image-upload #image-upload-child-complete {
  color: white;
}
#image-upload .cancel-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  right: -12px;
}
#image-upload .js-uploaded-image-box {
  display: table-cell;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}
#image-upload .js-uploaded-image-box .js-uploaded-image-box-inner {
  display: table-cell;
  width: 88px;
  height: 88px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: solid 1px gray;
  padding: 1px;
  margin: 2px;
}
