.slidedown-out {
  -webkit-transform: translateY(100%);
  -webkit-animation-name: slideouttobottom;
  -webkit-animation-duration: 200ms;
  -moz-transform: translateY(-100%);
  -moz-animation-name: slideouttotop;
  -moz-animation-duration: 200ms;
  transform: translateY(-100%);
  animation-name: slideouttotop;
  animation-duration: 200ms;
}

.slideup-in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfrombottom;
  -webkit-animation-duration: 250ms;
  -moz-transform: translateY(0);
  -moz-animation-name: slideinfrombottom;
  -moz-animation-duration: 250ms;
  transform: translateY(0);
  animation-name: slideinfrombottom;
  animation-duration: 250ms;
}
