
#menu {
  .item {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 4px;
    margin: 4px;
    background-color: #FFFFFF;
  }

  /* salvattore */
  .timeline[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  .column {
    float: left;
  }
  .size-1of2 {
    width: 50%;
  }
  [data-columns]::before {
    display: none;
  }
  .img-menu-icon {
    height: 64px;
    width: 64px;
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 4px;
  }
  .table-item {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 4px;
    background-color: #FFFFFF;
  }
  .table-item-inner {
    text-align: center;

    a {
      display: block;
      color: #6E6E6E;
    }
  }
}
