#top {
  .top_icon {
    margin-top: 25%;
    height: 70%;
  }
  .bottom_button {
    margin-top: 25%;
    width: 50%;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
  }
  .login_form {
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .register_form {
    margin-top: 0%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .activate_form {
    margin-top: 0%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .login_button {
    margin-right: 10%;
    margin-left: 10%;
  }
  .register_button {
    margin-right: 15%;
    margin-left: 15%;
  }
  .top_view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    text-align: center;
  }
  .bottom_view {
    position: absolute;
    right: 0;
    bottom: 0%;
    left: 0;
    text-align: center;
  }
}
