#image-upload {
  .image {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
  }
  .image {
    img {
      width: 100%;
      max-width: 320px;
    }
  }

  .item {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 4px;
    margin: 4px;
  }

  /* salvattore */
  .timeline[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  .column {
    float: left;
  }
  .size-1of2 {
    width: 50%;
  }
  [data-columns]::before {
    display: none;
  }
  .add-image {
    width: 80px;
    overflow: hidden;
  }
  #add-image-icon {
    height: 80px;
    margin-left: -19px;
    -webkit-filter: invert(50%);
  }
  .disabled-iframe {
    display: none;
  }
  #image-post-form {
    display: none;
  }
  .js-image-container {
    float: left;
  }
  .inner-box {
    box-shadow: 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px gray;
  }
  .error {
    color: red;
    display: none;
    text-align: center;
  }
  .modal-content {
    height: 300px;
  }
  .modal-body {
    height: 160px;
  }
  .modal-header {
    height: 40px;
  }
  .modal-body {
    height: 200px;
    overflow: scroll;
  }
  .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .relative-img {
    width: 44px;
  }
  .relative-checked-mark {
    span {
      display: none;
    }
  }
  .child-img {
    width: 44px;
  }
  .child-checked-mark {
    span {
      display: none;
    }
  }
  .checked {
    span {
      display: block;
    }
  }
  .abbreviation {
    p {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      text-overflow: ellipsis;
      width: 150px;
      white-space: nowrap;
    }
  }
  #image-upload-footer {
    background-color: silver;
  }
  #image-upload-modal-footer {
    a {
      text-shadow: none;
    }
  }
  #image-upload-modal-footer-close {
    color: #38c;
  }
  #image-upload-submit-button {
    background-color: #38c;
    color: white;
  }
  #image-upload-child-modal-footer {
    a {
      text-shadow: none;
    }
  }
  #image-upload-child-complete {
    color: white;
  }
  .cancel-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -12px;
  }
  .js-uploaded-image-box {
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;

    .js-uploaded-image-box-inner {
      display: table-cell;
      width: 88px;
      height: 88px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      border: solid 1px gray;
      padding: 1px;
      margin: 2px;
    }
  }
}

